
{{- if .Values.server.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    application: {{ template "name-server" . }}
  name: {{ template "name-server" . }}
  namespace: {{ $.Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      application: {{ template "name-server" . }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/server-config.yaml") . | sha256sum }}
      labels:
        application: {{ template "name-server" . }}
    spec: 
      shareProcessNamespace: true
      {{- if .Values.server.priorityClassName }}
      priorityClassName: {{ .Values.server.priorityClassName }}
      {{- end }}
      {{- with .Values.server.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.server.affinity }}
      affinity:
        {{- toYaml .Values.server.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.server.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.server.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.server.tolerations }}
      tolerations:
        {{- toYaml .Values.server.tolerations | nindent 6 }}
      {{- end }}
      serviceAccountName: {{ template "name-server" . }}
      terminationGracePeriodSeconds: 1
      volumes:
      - name: nginx-conf
        configMap:
          name: {{ template "name-server" . }}-nginx
      - name: {{ template "name-server" . }}-tmp
      {{- if .Values.devMode.enabled }}
      - name: {{ template "name-server" . }}-build-cache
        persistentVolumeClaim:
          claimName: {{ template "name-server" . }}-build-cache
      - name: {{ template "name-server" . }}-code
        persistentVolumeClaim:
          claimName: {{ template "name-server" . }}-code
      {{- end }}
      - name: {{ template "name-server" . }}-persistent
        persistentVolumeClaim:
          claimName: {{ template "name-server" . }}
      containers:
        - name: nginx
          image: {{ $.Values.docker.registry }}{{ if $.Values.docker.registry }}/{{ end }}{{ $.Values.docker.nginxImage }}:{{ $.Values.docker.nginxVersion }}
          imagePullPolicy: {{ $.Values.server.pullPolicy }}
          volumeMounts:
          - mountPath: "/etc/nginx/nginx.conf"
            name: nginx-conf
            subPath: nginx.conf
            readOnly: true
          - mountPath: "/etc/nginx/conf.d"
            name: {{ template "name-server" . }}-persistent
            subPath: nginx
          ports:
          - containerPort: 9000
        - name: wireguard
          image: {{ $.Values.docker.registry }}{{ if $.Values.docker.registry }}/{{ end }}{{ $.Values.docker.wgImage }}:{{ $.Values.docker.wgVersion }}
          imagePullPolicy: {{ $.Values.server.pullPolicy }}
          ports:
            - containerPort: 51820
              protocol: UDP
          volumeMounts:
          - mountPath: "/etc/wireguard"
            name: {{ template "name-server" . }}-persistent
            subPath: wireguard
          securityContext:
            runAsUser: 0
            runAsGroup: 0
            runAsNonRoot: false
            capabilities:
              add:
              - NET_ADMIN
       
        - image: {{ $.Values.docker.registry }}{{ if $.Values.docker.registry }}/{{ end }}{{ $.Values.docker.image }}:{{ $.Values.docker.version }}
          name: wormhole
          envFrom:
          - secretRef:
              name: {{ template "name-server" . }}-env
          imagePullPolicy: {{ $.Values.server.pullPolicy }}
          {{- with .Values.server.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /metrics
              port: 8090
            initialDelaySeconds: 30
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /metrics
              port: 8090
          resources:
            {{- toYaml .Values.server.resources | nindent 12 }}
          ports:
            - containerPort: 8080
            - containerPort: 8081
            - containerPort: 8082
          volumeMounts:

          {{- if .Values.devMode.enabled }}
          - mountPath: "/home/go/.cache"
            name: {{ template "name-server" . }}-build-cache
          - mountPath: "/src-tmp"
            name: {{ template "name-server" . }}-code
          {{- end }}
          - mountPath: "/tmp"
            name: {{ template "name-server" . }}-tmp
          - mountPath: "/storage"
            name: {{ template "name-server" . }}-persistent
          args:
            - --metrics
          {{- if .Values.server.debug }}
            - --debug
          {{- end }}
          {{- if .Values.networkPolicies.enabled }}
            - --network-policies
          {{- end }}
            - server
            - --name
            - {{ .Values.server.name }}
            - --kubernetes
            - --kubernetes-namespace
            - {{ $.Release.Namespace }}
            - --kubernetes-labels
            - 'application={{ template "name-server" . }}'
            - '--wg-internal-host={{ $.Values.server.wg.internalHost }}'
            - '--wg-public-host={{ $.Values.server.wg.publicHost }}'
            - '--wg-subnet-mask={{ $.Values.server.wg.subnetMask }}'
            - '--peer-storage-db=/storage/peers.db'
            - '--key-storage-db=/storage/keys.db'



{{ end }}