{{- if .Values.server.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "name-server" . }}
  namespace: {{ $.Release.Namespace }}
  labels:
    application: {{ template "name-server" . }}
spec:
  ports:
  - name: data
    port: 51820
    protocol: UDP
    targetPort: 51820
  - name: peering
    port: 8080
    targetPort: 8080
  selector:
    application: {{ template "name-server" . }}
  sessionAffinity: None
  type: {{ $.Values.server.service.type }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "name-server" . }}-nginx
  namespace: {{ $.Release.Namespace }}
  labels:
    application: {{ template "name-server" . }}
spec:
  ports:
  - name: nginx
    port: 9000
    targetPort: 9000
  selector:
    application: {{ template "name-server" . }}
  sessionAffinity: None
  type: ClusterIP

{{ end }}