---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    application: wormhole-client
  name: wormhole-client
spec:
  replicas: 1
  selector:
    matchLabels:
      application: wormhole-client
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        application: wormhole-client
    spec:
      serviceAccountName: wormhole-client
      containers:
        - image: ghcr.io/glothriel/wormhole:latest
          name: wormhole
          imagePullPolicy: Always
          command:
            - /usr/bin/wormhole
            - mesh
            - join
            - --name
            - tagi
            - --kubernetes
            - --server
            - ws://20.52.208.163:8080

