client:
  enabled: false
  debug: false
  name: ""

  serverDsn: ""

  priorityClassName: ""
  pullPolicy: Always

  securityContext: 
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000

  containerSecurityContext:
    readOnlyRootFilesystem: true
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

  resources:
    requests:
      cpu: 0
      memory: 128Mi
    limits:
      cpu: 0
      memory: 128Mi

  affinity: null
  nodeSelector: null
  tolerations: null

  pvc:
    storageClassName: ""
    storage: 1Gi
  
server:
  enabled: false
  debug: false
  name: server

  service:
    annotations: null
    type: LoadBalancer

  priorityClassName: ""
  pullPolicy: Always

  securityContext: 
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000

  containerSecurityContext:
    readOnlyRootFilesystem: true
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

  resources:
    requests:
      cpu: 0
      memory: 128Mi
    limits:
      cpu: 0
      memory: 128Mi

  affinity: null
  nodeSelector: null
  tolerations: null

  pvc:
    storageClassName: ""
    storage: 1Gi

  wg:
    publicHost: ""
    internalHost: 10.188.0.1
    subnetMask: 24

docker:
  registry: ghcr.io
  image: glothriel/wormhole-controller
  version: latest # GHA
  wgImage: glothriel/wormhole-wireguard
  wgVersion: latest # GHA
  nginxImage: glothriel/wormhole-nginx
  nginxVersion: latest # GHA
  pullSecrets: null

peering:
  psk: defaultPeeringKeyPleaseChangeMe

networkPolicies:
  enabled: false

# Dev mode expects dev image with watchexec + go run instead of binary
devMode:
  enabled: false
