name: Integration
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22.x"

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install setuptools
        shell: bash
        run: pip install setuptools

      - name: Install packages required for tests
        shell: bash
        run: cd ${{ inputs.test-directory }} && python setup.py develop

      - name: Run integration tests
        run: py.test -v --tb=short

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Run linters
        uses: PiwikPRO/actions/python/lint@master
        with:
          use-black: true
          use-flake: true
          use-isort: true